# Ignore node_modules in both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore environment variables
backend/.env
frontend/.env

# Ignore log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build and dist files
backend/dist/
frontend/build/
frontend/.next/
frontend/out/

# Ignore OS system files
.DS_Store
Thumbs.db

# Ignore editor files
.vscode/
.idea/
*.swp
node_modules
.history