@import "tailwindcss";
/* .input-style {
  @apply w-full p-3 bg-white/20 border border-gray-600 rounded-xl text-white focus:outline-none focus:ring-2 focus:ring-purple-500 placeholder-gray-300 transition-all;
} */

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}

/* Default Light Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --sidebar-bg: #f3f3f3;
  --dropdown-bg: #f9f9f9;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #1a1a2e;
  --text-color: #ffffff;
  --sidebar-bg: #07071f;
  --dropdown-bg: #33334d;
}


/* Apply smooth transitions */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}




